// include fonts with @font-face. Example:
//
//@font-face {
//  src: url("../fonts/Adelle_Bold.otf");
//  font-family: Adelle;
//  font-weight: bold;
//}

@font-face {
  src: url("../fonts/RobotoMono-Regular.ttf");
  font-family: roboto-regular;
  font-weight: bold;
}

@font-face {
  src: url("../fonts/Lato-Light.ttf");
  font-family: lato-light;
  font-weight: normal;
}

@font-face {
  src: url("../fonts/Lato-Black.ttf");
  font-family: "lato-black";
  font-weight: normal;
}


// Typografie for mobile and desktop:

h1, h2 {
  font-size: 100px;
  color: white;
  font-family: lato-black, sans-serif;
}



