// include fonts with @font-face. Example:
//
//@font-face {
//  src: url("../fonts/Adelle_Bold.otf");
//  font-family: Adelle;
//  font-weight: bold;
//}

@font-face {
  src: url("../fonts/RobotoMono-Bold.ttf");
  font-family: Roboto-bold;
  font-weight: bold;
}

@font-face {
  src: url("../fonts/RobotoMono-Light.ttf");
  font-family: Roboto-light;
  font-weight: normal;
}

@font-face {
  src: url("../fonts/Lato-Light.ttf");
  font-family: "lato-light";
  font-weight: normal;
}


// Typografie for mobile and desktop:


h1 {
  font-size: 100px;
  color: white;
  font-family: Roboto-bold, sans-serif;
}

